<!--&lt;!&ndash; Email Header &ndash;&gt;-->
<!--<table bgcolor=" #fff" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">-->
<!--    <tr>-->
<!--        <td style="padding: 16px; text-align: left; width: 25%; border-right: 2px solid #f9c727;">-->
<!--            <img src="{{logo}}" style="max-height: 40px; width: auto;">-->
<!--        </td>-->
<!--        <td valign="center" style="padding: 10px 0px 0px 37px; line-height: 24px; font-size: 15px; width: 75%;">-->
<!--            <h4 class="name-ct" style="text-transform: uppercase; margin: 0; font-weight: bold; font-size: 16px;">-->
<!--                {name}-->
<!--            </h4>-->
<!--            <p style="margin: 0; font-size: 13px;">{{address}}</p>-->
<!--            <div style="display: flex;" class="bt-contact">-->
<!--                <div style="margin-right: 10px;" class="zone zone1-contact">-->
<!--                    <ul style="padding: 0; margin:10px">-->
<!--                        <li style="list-style-type:none">-->
<!--                            <a style="color: #ffc40d; font-weight: bold; font-size: 13px; text-decoration: none;" target="_blank" href="tel:{{phone}}">{{phone}}</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div style="margin-right: 10px;" class="zone zone2-contact">-->
<!--                    <ul style="padding: 0;margin:10px">-->
<!--                        <li style="list-style-type:none">-->
<!--                            <a style="text-decoration: none; color: #000; font-size: 13px;" target="_blank"href="{{email}}">{{email}}</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="zone zone3-contact">-->
<!--                    <ul style="padding: 0;margin:10px">-->
<!--                        <li style="list-style-type:none">-->
<!--                            <a style="text-decoration: none; color: #39e7de; font-size: 13px;" target="_blank"-->
<!--                               href="{{url}}"> {{url}}-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->



<!-- Email Header -->
<table bgcolor=" #fff" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td style="padding: 16px; text-align: left; width: 25%; border-right: 2px solid #f9c727;">
            <img src="https://cdn.printgo.vn/uploads/config/0/3bfb2bff8ffa1711688e5e1627511a40.png" style="max-height: 40px; width: auto;">
        </td>
        <td valign="center" style="padding: 10px 0px 0px 37px; line-height: 24px; font-size: 15px; width: 75%;">
            <h4 class="name-ct" style="text-transform: uppercase; margin: 0; font-weight: bold; font-size: 16px;">
                công ty cổ phần printgo việt nam
            </h4>
            <p style="margin: 0; font-size: 13px;">Văn phòng Hà Nội: Số 35 Xuân Quỳnh, P.Trung Hòa, Q.Cầu Giấy</p>
            <p style="margin: 0; font-size: 13px;">Chi nhánh TP.HCM: 406/8 Cộng Hòa, Phường 13, Quận Tân Bình</p>
            <div style="display: flex;" class="bt-contact">
                <div style="margin-right: 10px;" class="zone zone1-contact">
                    <ul style="padding: 0; margin:10px">
                        <li style="list-style-type:none">
                            <a style="color: #ffc40d; font-weight: bold; font-size: 13px; text-decoration: none;" target="_blank" href="tel:0901633313">1900.633.313</a>
                        </li>
                    </ul>
                </div>
                <div style="margin-right: 10px;" class="zone zone2-contact">
                    <ul style="padding: 0;margin:10px">
                        <li style="list-style-type:none">
                            <a style="text-decoration: none; color: #000; font-size: 13px;" target="_blank"href="mailto:sale@printgo.vn">sale@printgo.vn </a>
                        </li>
                    </ul>
                </div>
                <div class="zone zone3-contact">
                    <ul style="padding: 0;margin:10px">
                        <li style="list-style-type:none">
                            <a style="text-decoration: none; color: #39e7de; font-size: 13px;" target="_blank"
                               href="https://printgo.vn/"> www.printgo.vn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>