<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Báo giá đơn hàng</title>
    </head>
    <body style="background: #fff;">
        <center style="width: 700px; text-align: left; margin: 16px auto 0; border-radius: 30px; padding: 5px;">
            ${header}
            <table id="content__price" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                <tr>
                    <td aria-hidden="true" height="16" style="font-size: 0; line-height: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p style="font-weight: bold; font-size: 28px; text-align: center;">$emailTitle</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="expire__date" style="font-weight: 400; font-size: 16px; padding: 7px 0;margin-bottom:20px;text-align:center">
                            <span style="margin-right: 10px;">Tên đơn hàng: <b>$varOrderCode</b></span>
                            <span style="margin-right: 10px;">Ngày lập: <b>$createdAt</b></span>
                            <span style="margin-right: 10px;">Giá trị tới: <b>$expireAt</b></span>
                        </p>
                    </td>
                </tr>
                <tr id="contact__content">
                    <td>
                        <table style="line-height: 30px; width: 100%">
                            <tr style="width: 100%">
                                <td width="50%" id="info__customer">
                                    <table style="width: 100%">
                                        <tr style="color: #4d84d6">
                                            <th style="font-size: 13px;white-space:nowrap;text-align:left">THÔNG TIN KHÁCH HÀNG</th>
                                        </tr>
                                        $varCustomerInfo
                                    </table>
                                </td>
                                <td width="50%" id="info__sale">
                                    <table style="width: 100%">
                                        <tr style="color: #4d84d6">
                                            <th style="font-size: 13px;white-space:nowrap;text-align:left">THÔNG TIN ĐẠI DIỆN</th>
                                        </tr>
                                        <tr style="line-height:30px; padding: 10px; background: #cccccc52">
                                            <td style="padding: 0 7px; font-size: 12px">Bộ phận:</td>
                                            <td style="padding: 0 7px; font-size: 12px">Phòng kinh doanh</td>
                                        </tr>
                                        $varSaleInfo
                                        <tr style="line-height:30px; padding: 10px; background: #cccccc52">
                                            <td style="padding: 0 7px; font-size: 12px">Số máy lẻ:</td>
                                            <td style="padding: 0 7px; font-size: 12px">1900633313 - 107</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="main__content">
                    <td style="padding: 20px 0;">
                        <table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse; padding: 10px">
                            <tr style="border-bottom: 1px solid #ddd;background: #3dbeb3; color: #fff">
                                <th style="padding: 10px; text-align: center">STT</th>
                                <th style="padding: 10px; text-align: center">Nội dung</th>
                                <th style="padding: 10px; text-align: center">Số lượng</th>
                                <th style="padding: 10px; text-align: center">Đơn giá</th>
                                <th style="padding: 10px; text-align: center">Thành tiền</th>
                            </tr>
                            $varOrderInfo
                        </table>
                        <table style="width: 100%;">
                            <tr>
                                <td valign="top" width="100%" style="padding: 16px 0;">$varTotalOrder</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="note__content">
                    <td>
                        <div id="note_vat">
                            $noteOfVat
                        </div>
                        <div id="payment_info">
                            <p class="pay__title"><b>Thông tin thanh toán:</b></p>
                            <p deposit="$deposit" id="note__pay__co__hoi">$notePay</p>
                            <p><b>Thông tin tài khoản:</b></p>
                            $infoBankOfVat
                        </div>
                    </td>
                </tr>
                <tr id="thank__content">
                    <td>
                        <p style="text-align: center; font-weight: bold; padding: 0px; margin: 0px; margin-top: 15px;">Xin trân trọng cảm ơn quý khách .!</p>
                    </td>
                </tr>
            </table>
            ${footer}
        </center>
    </body>
</html>