<tr style="border-bottom: 1px solid #cccccc8c;">
    <td rowspan="${rowspan}" style="border-right: 1px solid #ccc;padding: 10px; text-align:center">${soTT}</td>
    <td style="padding: 10px; text-align:left"><b>Tên sản phẩm:</b><br/>${nameProduct}</td>
    <td style="padding: 10px; text-align:left"></td>
    <td style="padding: 10px; text-align:center"></td>
    <td style="padding: 10px; text-align:center"></td>
</tr>
<tr style="border-bottom: 1px solid #cccccc8c;">
    <td style="padding: 10px; text-align:left">${noiDung}</td>
    <td colspan="3">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="padding: 10px; text-align: left;">${soLuong}</td>
                    <td style="padding: 10px; text-align:center">${donGia}</td>
                    <td style="padding: 10px; text-align:center">${thanhTien}</td>
                </tr>
                ${giamGia}
            </tbody>
        </table>
    </td>
</tr>