<table id="pay__order__info" cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align: right;">
    <tr id="tpri">
        <td align="right" width="70%" style="padding: 4px 12px">Tổng chi phí:</td>
        <td class="total" width="30%" style="padding: 4px 12px">$tienHang VND</td>
    </tr>
    <tr>
        <td align="right" width="70%" style="padding: 4px 12px">Chiết khấu đơn:</td>
        <td class="ck" width="30%" style="padding: 4px 12px">$chietKhauDon VND</td>
    </tr>
    $feeOther
    <tr>
        <td align="right" width="70%" style="padding: 4px 12px">Phí vận chuyển:</td>
        <td width="30%" style="padding: 4px 12px">$phiVanChuyen</td>
    </tr>
    <tr>
        <td align="right" width="70%" style="padding: 4px 12px">Phí VAT:</td>
        <td class="vt" width="30%" style="padding: 4px 12px">$vat VND</td>
    </tr>
    <tr id="vorh">
        <td align="right" width="70%" style="padding: 12px 12px 0">
            <b>Tổng thanh toán:</b>
        </td>
        <td class="total" width="30%" style="padding: 12px 12px 0">
            <div style="font-size: 16px; font-weight: 700;">$thanhTien VND</div>
        </td>
    </tr>
</table>